/* Força a cor do texto para branco e fundo azul padrão (ou a cor de sua preferência) */
.historylink {
    background-color: #79aec8 !important; /* Azul padrão Django */
    color: #ffffff !important;           /* Branco */
    padding: 8px 15px !important;
    border-radius: 4px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
}

/* Efeito hover para feedback visual */
.historylink:hover {
    background-color: #417690 !important;
}

.tag-rotulo {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 12px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 700;
    margin: 2px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    white-space: nowrap;
}

.btn-no-wrap {
    display: inline-block !important;
    white-space: nowrap !important;
    font-size:10px;
    padding:1px 4px;
    text-decoration:none;
    margin-right:2px;
}

.select2-container {
    width: 100% !important;
    min-width: 300px;
}

