/* Força o texto "Histórico" a aparecer centralizado e com contraste */
.historylink {
    background-color: #2c5047 !important; /* Cor sólida */
    color: #ffffff !important;           /* Texto Branco */
    
    /* Centralização */
    display: inline-flex !important;
    justify-content: center !important;  /* Centraliza horizontalmente */
    align-items: center !important;      /* Centraliza verticalmente */
    text-align: center !important;
    
    /* Dimensionamento */
    min-width: 120px !important;         /* Garante largura mínima para notar a centralização */
    height: 35px !important;             /* Altura fixa para alinhar ao centro */
    padding: 0 15px !important;
    
    border-radius: 4px !important;
    font-size: 8 !important;
    text-decoration: none !important;
    font-weight: lighter !important;
}

/* Se você usou o pseudo-elemento ::after para o texto */
.historylink::after {
    content: "Histórico" !important;
    display: block !important;
    width: 100% !important;
    text-align: center !important;
}

.main-footer {
    display: block !important;
    z-index: 1
}

/* Força a visibilidade e posicionamento do footer */
body.layout-footer-fixed .main-footer {
    display: flex !important;
    z-index: 1035 !important;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    background-color: #fff !important;
}

/* Garante que o conteúdo não fique escondido atrás do footer fixo */
body.layout-footer-fixed .content-wrapper {
    padding-bottom: calc(3.5rem + 1px) !important;
}