<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Informações do Perfil</legend>
        {% if request.user.profile.image %}
            <img src="{{ request.user.profile.image.url }}" alt="Foto de {{ request.user.username }}" class="profile-pic">
        {% else %}
            <img src="/static/vendor/adminlte/img/user2-160x160.jpg" alt="Padrão" class="profile-pic">
        {% endif %}
        <img src="{{ user.profile.image.url }}" width="150">
        {{ p_form.as_p }}
    </fieldset>
    <button type="submit">Atualizar Foto</button>
</form>