<!-- pmo_hub\templates\admin\base_site.html -->
{% extends "admin/base.html" %}

{% block extrahead %}
    {{ block.super }}
    <style type="text/css">
        /* Força contraste no botão de histórico do django-simple-history */
        .historylink {
            background-color: #264b5e !important; /* Azul Escuro */
            color: #ffffff !important;           /* Branco Absoluto */
            padding: 4px 10px !important;
            border-radius: 4px;
            display: inline-block;
            text-decoration: none;
            font-weight: 600;
        }

        .historylink:hover {
            background-color: #1a3340 !important;
            color: #ffffff !important;
        }

        /* Garante que o texto dentro do link também seja branco */
        #content-main .object-tools a.historylink {
            color: #ffffff !important;
        }
    </style>
    {% if ENV_NAME %}
    <div id="env-banner" style="
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: {{ ENV_COLOR }};
        color: #000;
        padding: 3px 40px;
        font-size: 16px;
        font-weight: bold;
        z-index: 9999;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        pointer-events: none;
    ">
        AMBIENTE: {{ ENV_NAME }}
    </div>
    {% endif %}
{% endblock %}

